Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-throwing-static-initialization,
  -bugprone-infinite-loop,
  -bugprone-branch-clone,
  performance-*,
  -performance-trivially-destructible,
  -performance-enum-size,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-use-auto,
  modernize-use-emplace,
  modernize-loop-convert,
  modernize-use-starts-ends-with,
  modernize-use-std-numbers,
  modernize-use-using,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-slicing,
  readability-*,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-convert-member-functions-to-static,
  -readability-avoid-const-params-in-decls,
  -readability-use-std-min-max,
  -readability-math-missing-parentheses,
  -readability-non-const-parameter,
  -bugprone-empty-catch,

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*'
